﻿<h3 mat-dialog-title *ngIf="isNew">데이터 생성</h3>
<h3 mat-dialog-title *ngIf="!isNew">데이터 편집</h3>
<mat-dialog-content>
    <form (ngSubmit)="dialogRef.close(_ls)" fxLayout="column" #lsForm="ngForm">
        <mat-form-field>
            <input matInput type="text" name="sentence" placeholder="sentence"
                   [(ngModel)]="_ls.sentence" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" name="label" min="0" placeholder="label"
                   [(ngModel)]="_ls.label" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="name" placeholder="name"
                   [(ngModel)]="_ls.name" required />
        </mat-form-field>
        <div fxLayout="row">
            <button mat-button color="primary" type="submit" [disabled]="!lsForm.form.dirty||lsForm.form.invalid">
                저장
            </button>
            <button mat-button color="accent" type="button" mat-dialog-close>
                취소
            </button>
        </div>
    </form>
</mat-dialog-content>