﻿<mat-tab-group>
    <mat-tab label="Training Data관리">
        <button mat-icon-button (click)="load()">
            <mat-icon aria-label="load icon button">
                http
            </mat-icon>
        </button>
        <mat-spinner *ngIf="inProgress"></mat-spinner>
        <button mat-fab (click)="createData()">
            <mat-icon class="md-24">add</mat-icon>
        </button>
        <mat-list>
            <mat-list-item *ngFor="let item of items; let i=index">
                <h4>{{item.sentence}}</h4>
                <h4>{{item.label}}</h4>
                <h4>{{item.name}}</h4>
                <button mat-button color="primary" (click)="editData(i)">
                    편집
                </button>
                <button mat-button color="warning" (click)="deleteData(i)">
                    삭제
                </button>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Training 실행(DB)">
        <form (ngSubmit)="executeTraining(requestData1)" fxLayout="column" #trainForm1="ngForm">
            <button mat-button type="button" color="primary" (click)="getNameData()">Data Model Name 가져오기</button>
            <mat-form-field>
                <mat-select placeholder="모델" name="name" [(ngModel)]="requestData1.name">
                    <mat-option *ngFor="let name of names" [value]="name">
                        {{name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" name="maxLength" placeholder="Max Length" min="10" max="100" step="1"
                       [(ngModel)]="requestData1.maxLength" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" name="numEpochs" placeholder="Epoch 수" min="1" max="100" step="1"
                       [(ngModel)]="requestData1.numEpochs" />
            </mat-form-field>
            <mat-checkbox name="isTokenized" [(ngModel)]="requestData1.isTokenized">Tokenize됨</mat-checkbox>
            <mat-form-field *ngIf="!requestData1.isTokenized">
                <mat-select placeholder="언어" name="language" [(ngModel)]="requestData1.language">
                    <mat-option *ngFor="let language of languages; let i=index" [value]="i">
                        {{language}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary" type="submit">Train 실행</button>
            <button mat-button color="warn" type="button" (click)="resetTrainRequest(1)">리셋</button>
        </form>
    </mat-tab>
    <mat-tab label="Training 실행(파일)">
        <form (ngSubmit)="executeTraining(requestData0)" fxLayout="column" #trainForm0="ngForm">
            <mat-form-field>
                <input matInput type="text" name="filename" [(ngModel)]="requestData0.filename"
                       placeholder="파일명" required />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" name="maxLength" placeholder="Max Length" min="10" max="100" step="1"
                       [(ngModel)]="requestData0.maxLength" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" name="numEpochs" placeholder="Epoch 수" min="1" max="100" step="1"
                       [(ngModel)]="requestData0.numEpochs" />
            </mat-form-field>
            <mat-checkbox name="isTokenized" [(ngModel)]="requestData0.isTokenized">Tokenize됨</mat-checkbox>
            <mat-form-field *ngIf="!requestData0.isTokenized">
                <mat-select placeholder="언어" name="language" [(ngModel)]="requestData0.language">
                    <mat-option *ngFor="let language of languages; let i=index" [value]="i">
                        {{language}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary" type="submit">Train 실행</button>
            <button mat-button color="warn" type="button" (click)="resetTrainRequest(0)">리셋</button>
        </form>
    </mat-tab>
    <mat-tab label="Predict">
        <mat-radio-group [(ngModel)]="clfRequest.name">
            <mat-radio-button *ngFor="let training of trainings"
                              [disabled]="!training.finished"
                              [value]="training.name">
                {{training.name}}
            </mat-radio-button>
        </mat-radio-group>
        <form (ngSubmit)="predict()" ngForm="predictForm">
            <mat-form-field>
                <input matInput type="text" name="model" placeholder="선택된 모델"
                       [(ngModel)]="clfRequest.name" required disabled />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" name="sentence" placeholder="sentence"
                       [(ngModel)]="clfRequest.sentence" required />
            </mat-form-field>
            <mat-checkbox name="tokencb" [(ngModel)]="clfRequest.isTokenized">Tokenized sentence</mat-checkbox>
            <button mat-button type="submit" color="primary">실행</button>
            <button mat-button type="button" color="warn" (click)="resetRequest()">리셋</button>
        </form>
        <mat-chip-list>
            <mat-chip *ngFor="let prop of props" color="accent">{{prop}}</mat-chip>
        </mat-chip-list>
    </mat-tab>
</mat-tab-group>